@model List<TiklaYe_CQRS.Models.User>

@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "_AdminLayout";
}

@section Styles {
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f7f6;
            color: #333;
        }

        .container {
            width: 95%;
            max-width: 1300px;
            margin: 0 auto;
        }

        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin-bottom: 1.5rem;
            margin-top: 50px; /* Üstten boşluk ekledik */
        }

        .card-header {
            background-color: #006400;
            color: #fff;
            padding: 1.5rem;
            border-bottom: 1px solid #e5e5e5;
            display: flex;
            justify-content: center; /* Başlığı ortalamak için */
            align-items: center;
            text-align: center; /* Başlığı ortalamak için */
        }

        .card .card-header h4 {
            font-size: 1.3rem;
            margin: 0;
        }

        .card-block {
            padding: 1rem;
        }

        .table {
            width: 100%;
            color: #212529;
            border-spacing: 0 1rem; /* Satırlar arasına boşluk ekledik */
            border-collapse: separate;
        }

            .table thead th {
                background-color: #f8f9fa;
                border-bottom: 2px solid #dee2e6;
                text-align: center;
                font-size: 1rem;
            }

            .table tbody tr {
                background-color: #fff;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Satırlara gölge ekledik */
                line-height: 4; /* Satır yüksekliği */
                text-align: center;
                font-size: 0.9rem;
            }

                .table tbody tr:hover {
                    background-color: #f1f1f1;
                    transition: background-color 0.3s ease;
                }

        form {
            display: flex;
            justify-content: center;
        }

            form .btn-danger {
                background-color: #008b00;
                color: white;
                border: none;
                border-radius: 0.2rem;
                cursor: pointer;
                transition: background-color 0.3s ease;
                font-size: 0.9rem;
                height: 2rem;
                padding: 0.2rem 0.6rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                form .btn-danger:hover {
                    background-color: #00cd00;
                }
    </style>
}


<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h4>Kullanıcılar</h4>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Kişi</th>
                                        <th>Kullanıcı Adı</th>
                                        <th>E-posta</th>
                                        <th>Adı</th>
                                        <th>Telefon</th>
                                        <th>Adres</th>
                                        <th>Posta Kodu</th>
                                        <th>Kayıt Tarihi</th>
                                        <th>İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <td><i class="material-icons">person</i></td>
                                            <td>@user.Username</td>
                                            <td>@user.Email</td>
                                            <td>@user.Name</td>
                                            <td>@user.Mobile</td>
                                            <td>@user.Address</td>
                                            <td>@user.PostCode</td>
                                            <td>@user.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                            <td>
                                                <form method="post" asp-action="Delete" asp-route-id="@user.UserId">
                                                    <button type="submit" class="btn btn-danger">Kullanıcıyı Sil</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>