@model IEnumerable<TiklaYe_CQRS.Models.Feedback>

@{
    ViewData["Title"] = "Geri Bildirimler";
    Layout = "_AdminLayout";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        color: #333;
        padding: 20px;
    }

    h2 {
        color: #333;
        margin-bottom: 20px;
        margin-top: 40px;
        font-size: 30px;
        border-bottom: 2px solid #8b1a1a;
        padding-bottom: 10px;
        text-align: center;
    }

    .table-container {
        display: flex;
        justify-content: center; /* Tabloyu yatayda ortalar */
        margin-top: 10px;
    }

    .container {
        margin: 0 auto;
        max-width: 1400px; /* Maksimum genişlik ayarı */
    }

    .card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        padding: 20px;
    }

    .card-body {
        padding: 0;
    }


    .table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

        .table thead {
            background-color: #8b1a1a;
            color: #fff;
        }

        .table th, .table td {
            padding: 12px 15px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        .table tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .table tbody tr:hover {
            background-color: #f1f1f1;
        }

        .table th {
            font-weight: bold;
            font-size: 18px;
        }

        .table td {
            word-wrap: break-word;
        }
</style>


<div class="container my-4">
    <h2>Geri Bildirimler</h2>
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Email</th>
                        <th>Konu</th>
                        <th>Mesaj</th>
                        <th>Tarih</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var feedback in Model)
                    {
                        <tr>
                            <td>@feedback.Name</td>
                            <td>@feedback.Email</td>
                            <td>@feedback.Subject</td>
                            <td>@feedback.Message</td>
                            <td>@feedback.CreatedDate.ToString("dd/MM/yyyy HH:mm")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>