@model IEnumerable<TiklaYe_CQRS.Models.BusinessOwner>

@{
    ViewData["Title"] = "İşletme Başvuruları";
    Layout = "_AdminLayout";
}

<div class="admin-panel">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>E-posta</th>
                        <th>Telefon Numarası</th>
                        <th>Restoran Adı</th>
                        <th>Firma Bilgi</th>
                        <th>İstek</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var business in Model)
                    {
                        <tr>
                            <td>@business.FirstName</td>
                            <td>@business.LastName</td>
                            <td>@business.Email</td>
                            <td>@business.PhoneNumber</td>
                            <td>@business.RestaurantName</td>
                            <td>
                                <a href="@Url.Content("~/uploads/" + System.IO.Path.GetFileName(business.PdfFilePath))" target="_blank">PDF'yi Görüntüle</a>
                            </td>
                            <td>
                                <form asp-action="ApproveBusiness" asp-controller="Admin" method="post">
                                    <input type="hidden" name="id" value="@business.BusinessOwnerId" />
                                    <button class="btn btn-secondary" type="submit">Onayla</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>